name: Raise PR for Monthly Version Bump

on:
  schedule:
    - cron: '0 9 1 * *' # Run at midnight each Sunday
  workflow_dispatch: { }

jobs:
  find-all-docker-images:
    name: "Find all Docker Images"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@c2d88d3ecc89a9ef08eebf45d9637801dcee7eb5
      - id: find-all-docker-images
        uses: ./.github/actions/find_all_docker_images
    outputs:
      docker_images: ${{ steps.find-all-docker-images.outputs.docker_images }}
  create-new-config-yamls:
    name: "Calculate and Store New config.yml"
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    needs: find-all-docker-images
    strategy:
      matrix:
        image_directory: ${{ fromJSON(needs.find-all-docker-images.outputs.docker_images ) }}
    steps:
      - name: "Checkout Repo"
        uses: actions/checkout@c2d88d3ecc89a9ef08eebf45d9637801dcee7eb5
      - name: Extract Details From config.yml
        id: extract_from_config_yaml
        uses: ./.github/actions/extract_details_from_config
        with:
          config_yaml_path: ${{ github.workspace }}/${{ matrix.image_directory }}/config.yml
      - name: Bump Minor Version
        id: bump
        uses: cbrgm/semver-bump-action@main
        with:
          current-version: ${{ steps.extract_from_config_yaml.outputs.current_version }}
          bump-level: patch
      - name: "Calculate version to bump to"
        id: calculate-version
        run: |
          yq '.version = "${{ steps.bump.outputs.new_version }}"' ${{ github.workspace }}/${{ matrix.image_directory }}/config.yml > ${{ github.workspace }}/${{ matrix.image_directory }}_config.yml
      - name: "Store saved config.yml"
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4
        with:
          name: new-version_${{ matrix.image_directory }}_config.yml
          path: ${{ github.workspace }}/${{ matrix.image_directory }}_config.yml

  raise_pull_request:
    name: "Raise Pull Request"
    runs-on: ubuntu-latest
    needs:
      - create-new-config-yamls
    steps:
      - name: "Checkout Repo"
        uses: actions/checkout@c2d88d3ecc89a9ef08eebf45d9637801dcee7eb5
      - name: Get current date
        id: get-date
        run: echo "date=$(date +'%Y%m%d')" >> $GITHUB_OUTPUT
      - name: Download new config YAMLs
        id: download-new-config-yamls
        uses: actions/download-artifact@f093f21ca4cfa7c75ccbbc2be54da76a0c7e1f05
        with:
          path: .config_yamls
          pattern: new-version_*
          merge-multiple: true
      - name: Move the configs to their new location
        run: |
          sudo apt-get update
          sudo apt-get install -y mmv
          mmv -dhx '${{ github.workspace }}/.config_yamls/*_config.yml' '${{ github.workspace }}/#1/config.yml'
          rm -rf .config_yamls
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@84ae59a2cdc2258d6fa0732dd66352dddae2a412
        with:
          commit-message: 'Update Patch Versions For All Images - ${{ steps.get-date.outputs.date }}'
          branch: update-patch-versions
          title: 'Update Patch Versions For All Images - ${{ steps.get-date.outputs.date }}'
          body: Automated PR to bump patch versions for all images, to ensure they don't get stale
